* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

header {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
}

#titolo {
    font-weight: bold;
    font-size: 40px;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}

main {
    background-color: skyblue;
    height: 400px;
}

.bottoni { 
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    margin-top: 15px;
    
}

#bottone_blue {
    background-color: cornflowerblue;
}
.conteiner {
    width: 70%;
    margin: auto;
    background-color: white;
    margin-top: 50px;
}

.posizionamento {
    width: 85%;
    margin: 20px auto;
}

.gruppo_bottoni {
    margin-bottom: 10px;
}

.check::after {
    content: "\2714";
}

.sottotitolo{
    font-weight: bold;
    font-size: 25px;
}

.check_verde {
    border: 1px solid green;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    color: green;
}

.bollino {
    font-size: 14px;
    background-color: cornflowerblue;
    color: white;
    padding: 8px;
    border-radius: 15px;
}

.spazio_basso {
    margin-bottom: 20px;
}