* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(14, 125, 222);
}

header {
    background-color: white;
    padding: 20px;
}

#titolo {
    font-weight: bold;
    font-size: 60px;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
    height: 60px;
}

.bottoni { 
    font-size: 20px;
    padding: 7px;
    border-radius: 10px;
    margin-top: 15px;
}



#bottone_blue {
    background-color: cornflowerblue;
}

.conteiner {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgb(14, 125, 222);
    border-radius: 10px 10px 0 0;
    padding-bottom: 30px;
    margin-top: 10px;
}

#container2 {
    border-radius: 0 0 10px 10px;
}

.tasks {
    list-style-type: none;
    font-size: 22px;
    vertical-align: middle;
}

.posizionamento {
    width: 85%;
    margin: 10px auto 20px;
    font-weight: 500;
}

.gruppo_bottoni {
    margin-bottom: 5px;
}

.check::after {
    content: "\2714";
}

.cross::after {
    content: "\274C";
}

.sottotitolo{
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;
}

#rosso {
    border-color: red;
    font-size: smaller;
}

.check_verde {
    border: 1px solid green;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    color: green;
    margin-left: 0;
    vertical-align: middle;
}

.bollino {
    font-size: 16px;
    color: white;
    padding: 8px;
    border-radius: 15px;
    margin-left: 10px;
}

.spazio_basso {
    margin-bottom: 20px;
}

.cornflowerblue {
    background-color: cornflowerblue;
}

.purple {
    background-color: purple;
}

.aqua {
    background-color: rgb(0, 183, 128);
}

.orange {
    background-color: orange;
}

.green {
    background-color: rgb(7, 240, 7);
}

.pink {
    background-color: rgb(215, 51, 202);
}

.spazio {
    padding-top: 40px;
}

